.emoji {
    height: 40px;
    width: 40px;
}

.emoji-list>li {
    list-style-type: none;
    display: inline;
}

.logo {
    display: inline;
    heigth: 50px;
    width: 50px;
    margin-left: 20px;
}

.submit-btn {
    float: right;
}
